/*welcome page*/
.welcome-block {
    margin-left: 40%;
    margin-top: 100px;
}

.welcome-error {
    color: red;
}

/*header page*/
div.header {
    width: 100%;
    /*border: 1px dotted black;*/
    height: 70px;
}

div.header-menu {
    margin-top: 25px;
    margin-right: 25px;
    float: right;
}

div.header-menu span {
    margin-left: 10px;
}

#content {
    border: 0px dotted green;
    height: 380px;
}

/*index page*/
#input_selected {
    width: 40px;
}

div.active {
    margin-top: 150px;
    padding-left: 30px;
    padding-top: 20px;
    background-image: url(../img/puzir1.png);
    width: 70px;
    height: 55px;
    display: block;
    margin-left: 100px;
}

div.box {
    margin-top: 150px;
    padding-left: 30px;
    padding-top: 20px;
    background-image: url(../img/puzir1.png);
    width: 70px;
    height: 55px;

    display: block;
    margin-left: 100px;
}

div.box-date {
    padding-left: 10px;
    padding-top: 0px;
    width: 90px;
    height: 35px;

    display: block;
    margin-left: 100px;
}


div.container div {
    float: left;
}

div.container {

    padding-left: 100px;
    height: 30px;
}

/*footer page*/

div.footer {
    width: 100%;
    /*border: 1px dotted black;*/
    height: 70px;
}

div.footer-copyright {
    margin-right: 25px;
    margin-top: 25px;
    float: right;
}