#input_selected{
    width:40px;
}

div.active{
    width: 50px;
    height: 20px;
    display: block;
    margin-left: 100px;
}

div.box {
    width: 50px;
    height: 20px;
    display: block;
    margin-left: 100px;
}

div.container div {
    float: left;
}

div.container {
    margin-top: 150px;
    padding-left: 200px;
    /*border: 1px dotted black;*/
    height: 30px;
}