/*welcome page*/
.welcome-block {
    margin-left: 40%;
    margin-top: 100px;
}

.welcome-error {
    color: red;
}

/*header page*/
div.header {
    width: 100%;
    border: 1px dotted black;
    height: 70px;
}

div.header-menu {
    margin-top: 25px;
    margin-right: 25px;
    float: right;
}

div.header-menu span {
    margin-left: 10px;
}

#content {
    border: 1px dotted green;
    height: 440px;
}

/*index page*/
#input_selected {
    width: 40px;
}

div.active {
    width: 50px;
    height: 20px;
    display: block;
    margin-left: 100px;
}

div.box {
    width: 50px;
    height: 20px;
    display: block;
    margin-left: 100px;
}

div.container div {
    float: left;
}

div.container {
    margin-top: 150px;
    padding-left: 200px;
    height: 30px;
}

/*footer page*/

div.footer {
    width: 100%;
    border: 1px dotted black;
    height: 70px;
}

div.footer-copyright {
    margin-right: 25px;
    margin-top: 25px;
    float: right;
}